<!DOCTYPE html>
<html>
<head>
    
  <title>Store</title>
  <%#= javascript_include_tag '/app/lib/js/require/less.js' %>
 
</head>
<body>
  <%#*<script data-main="/app/main" src="/app/lib/js/require/require.js"></script>%>
 <%= javascript_include_tag '/modular-backbone-updated/js/libs/require/require.js', "data-main" => "/modular-backbone-updated/js/main" -%>
<%= yield %>

<div id="container">
  <div id="logo">
    <h1>Modular Backbone</h1>
  </div>
  <div id="menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#/projects">Project List</a></li>
      <li><a href="#/users">User List</a></li>
    </ul>
  </div>
  <div id="page">
    Loading....
  </div>
  <div id="footer">
    Thomas Davis
  </div>
</div> 
</body>
</html>
